*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.grid {
  margin: 0;
  display: inline-block;
}

.module {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  background-color: rgb(0, 120, 215);
  border-radius: 2px;
}

.module:hover {
  background-color: #EEE;
  background-color: #CCC;
  cursor: pointer;
  color: #607d8b;
}

#add-new-post {
  margin-top: 20px;
}

#add-new-post input {
  width: 400px;
}

button.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: gray !important;
  color: white;
}